*{
    -webkit-filter : invert(100%);
    -moz-filter : invert(100%);
    -o-filter : invert(100%);
    -ms-filter : invert(100%);
}

/*#annolet-header,#annolet-tools-menu,.annolet-menu-item{
    background-color : #2b849c !important;
}

.annolet-menu-sub-item{
    background : #fff !important;
}

.select-tools-menu{
    background: #fff !important;
}*/






